.yellow {
	color: $yellow;
}

.gray {
	color: $gray;
}

.red {
	color: $red;
}

.green {
	color: $green;
}

.blue {
	color: $blue;
}

.purple {
	color: $purple;
}

.aqua {
	color: $aqua;
}

.orange {
	color: $orange;
}

.flex {
	display: flex;
}

.w-half {
	width: 50%;
}
