---
---

@charset "utf-8";

@import "variables", "fonts", "common", "splash", "glitch", "nes", "syntax_highlighting";

:root {
	font-size: 22px;
}

body {
	position: relative;
	font-family: "pixel", monospace;
	font-size: 1rem;
	font-smoothing: antialiased;
	font-weight: normal;
	background-color: $bg;
	color: $fg;
}

@media(max-width: 680px) {
  body {
    font-size:16px
  }
}
@media(max-height: 600px) {
  body {
    font-size:16px
  }
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
	position: relative;
	font-size: 1em;
	font-weight: normal;
	margin: 0;
}

h1,
h2,
h3,
h4 {
	margin-bottom: 1em;
}

h1 {
	text-transform: uppercase;
	font-size: 4em;
	color: $yellow;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.2em;
	color: $yellow;
}

h5 {
	color: $blue;
}

h6 {
	color: $gray;
}

p {
	margin: 0 0 1em;
}

strong {
	color: $green;
}

code {
	font-family: "pixel";
	font-size: 0.8em;
}

pre.highlight {
	overflow: scroll;
}

a {
	position: relative;
	display: inline-block;
	color: $aqua;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&::before {
		content: "[";
	}
	&::after {
		content: "]";
	}

	&.button {
		color: $fg1;
		padding: 1em 1ch;
		margin: 1em 0;

		&::before {
			display: block;
			position: absolute;
			left: 1px;
			top: 1px;
			right: 1px;
			bottom: 1px;
			background-color: $dark_aqua;
			margin-left: -0.6em;
			padding: 1em 1ch;
			z-index: -1;
		}
	}
}

section {
	margin-bottom: 4em;
	> .title {
		color: $gray;
		text-align: left;
	}
}

article {
	position: relative;
	padding: 2em;
	margin-bottom: 4em;

	&::before {
		content: "";
		position: absolute;
		left: 1px;
		top: 1px;
		bottom: 1px;
		right: 1px;
		margin-right: 1ch;
		border: 0.5ch solid $blue;
		box-shadow: 1ch 1em 0 $blue;
		z-index: -1;
	}

	> .title {
		display: inline;
		box-shadow: inset 0 -1px 0 $bg, inset 0 -0.5rem 0 $yellow;
		margin-bottom: 15px;
	}
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;

	> .content {
		margin-top: 10em;
		margin-bottom: 10em;
		width: 550px;
		max-width: 90vw;
		transform: skewY(-3deg);

		> .hero {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: fit-content;
		}
	}
}
